future==0.17.1
h5py
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
nvidia-ml-py
pandas
python-apt
python-dateutil==2.8.0
python-debian
python-slugify==3.0.3
python-systemd
pytorch-pretrained-bert
pytorch-transformers==1.0.0
scikit-image==0.14.2
scikit-learn==0.20.2
scipy
seaborn==0.9.0
six
sympy==1.4
tqdm